NEXT_PUBLIC_APP_URL=

BASE_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_BUILDER_CODE=
NEXT_PUBLIC_REQUIRED_CHAIN=

NEXT_PUBLIC_SCORE_CONTRACT_ADDRESS=
SCORE_CONTRACT_DEPLOY_BLOCK=
NEXT_PUBLIC_USDC_ADDRESS_BASE=
NEXT_PUBLIC_PAY_RECIPIENT_ADDRESS=
NEXT_PUBLIC_PAY_RECIPIENT=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

FARCASTER_HEADER=
FARCASTER_PAYLOAD=
FARCASTER_SIGNATURE=

NEXT_PUBLIC_TESTNET=

LEADERBOARD_MAX_ROLLOVER_WEEKS=

CRON_SECRET=

CDP_PAYMASTER_URL=
NEXT_PUBLIC_PAYMASTER_PROXY_SERVER_URL=
